In [1]:
import pandas as pd

In [2]:
column_names = ['Element', 'X', 'Y', 'Z']
coords  = pd.read_excel(r'C:\Users\STEM\Desktop\LiCoO2 initial.xlsx', header=None, names=column_names)
coords

     Element          X          Y          Z
0         Li   0.000000   0.000000   0.000000
1         Li   0.000000   0.000000  14.145616
2         Li   0.000000  24.620222   0.000000
3         Li   0.000000  24.620222  14.145616
4         Li  14.214491   0.000000   0.000000
...      ...        ...        ...        ...
1008       O   5.685796  26.261570   8.104311
1009       O   8.528695  -1.641348   6.041305
1010       O   8.528695  26.261570   8.104311
1011       O  11.371593  -1.641348   6.041305
1012       O  11.371593  26.261570   8.104311

[1013 rows x 4 columns]

In [3]:
# Add the occupancy and isotropic thermal parameters

coords['occupancy']=1
coords['isotropic thermal parameters']=0.08
coords

,Element,X,Y,Z,occupancy,isotropic thermal parameters
0,Li,0.000000,0.000000,0.000000,1,0.08
1,Li,0.000000,0.000000,14.145616,1,0.08
2,Li,0.000000,24.620222,0.000000,1,0.08
3,Li,0.000000,24.620222,14.145616,1,0.08
4,Li,14.214491,0.000000,0.000000,1,0.08
...,...,...,...,...,...,...
1008,O,5.685796,26.261570,8.104311,1,0.08
1009,O,8.528695,-1.641348,6.041305,1,0.08
1010,O,8.528695,26.261570,8.104311,1,0.08
1011,O,11.371593,-1.641348,6.041305,1,0.08
1012,O,11.371593,26.261570,8.104311,1,0.08

In [4]:
# If you want use different Uiso for different elements, run the Cell

coords.loc[coords['Element'] == 'Li', 'isotropic thermal parameters'] = 0.06
coords

,Element,X,Y,Z,occupancy,isotropic thermal parameters
0,Li,0.000000,0.000000,0.000000,1,0.06
1,Li,0.000000,0.000000,14.145616,1,0.06
2,Li,0.000000,24.620222,0.000000,1,0.06
3,Li,0.000000,24.620222,14.145616,1,0.06
4,Li,14.214491,0.000000,0.000000,1,0.06
...,...,...,...,...,...,...
1008,O,5.685796,26.261570,8.104311,1,0.08
1009,O,8.528695,-1.641348,6.041305,1,0.08
1010,O,8.528695,26.261570,8.104311,1,0.08
1011,O,11.371593,-1.641348,6.041305,1,0.08
1012,O,11.371593,26.261570,8.104311,1,0.08

In [5]:
# Change the element to the element_No.

coords['Element'] = coords['Element'].replace({'Li': 3, 'Co': 27, 'O': 8})
coords

C:\Users\STEM\AppData\Local\Temp\ipykernel_1928\469350156.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  coords['Element'] = coords['Element'].replace({'Li': 3, 'Co': 27, 'O': 8})

,Element,X,Y,Z,occupancy,isotropic thermal parameters
0,3,0.000000,0.000000,0.000000,1,0.06
1,3,0.000000,0.000000,14.145616,1,0.06
2,3,0.000000,24.620222,0.000000,1,0.06
3,3,0.000000,24.620222,14.145616,1,0.06
4,3,14.214491,0.000000,0.000000,1,0.06
...,...,...,...,...,...,...
1008,8,5.685796,26.261570,8.104311,1,0.08
1009,8,8.528695,-1.641348,6.041305,1,0.08
1010,8,8.528695,26.261570,8.104311,1,0.08
1011,8,11.371593,-1.641348,6.041305,1,0.08
1012,8,11.371593,26.261570,8.104311,1,0.08

In [6]:
fileName = r'C:\Users\STEM\Desktop\LiCoO2 final.xyz'
comment = 'LiCoO2'
cellDim = [14.214, 24.620, 14.146]   # the size of cell

with open(fileName, 'w') as fid:
    # Write comment line (1st)
    fid.write(f"{comment}\n")

    # Write cell dimensions
    fid.write(f"    {cellDim[0]} {cellDim[1]} {cellDim[2]}\n")

    # Write atomic data
    dataAll = coords.values
    for row in dataAll:
        fid.write(f"{int(row[0])}  {row[1]:.6f}  {row[2]:.6f}  {row[3]:.6f}  {int(row[4])}  {row[5]:.6f}\n")

    # Write end of file, for compatibility
    fid.write("-1\n")